!!!
%html
  %head
    %title NHaml Demo
  %body
    %ul
      %li !=Html.ActionLink("Hello World", "HelloWorld")
      %li !=Html.ActionLink("Condition", "Condition")
      %li !=Html.ActionLink("Loops", "Loops")
      %li !=Html.ActionLink("Layouts", "Layouts")
      %li !=Html.ActionLink("Displaying a form", "DisplayingAForm")
      %li !=Html.ActionLink("DRY", "Dry")
